<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${titulo}"></title>
</head>

<body>
    <div layout:fragment="contenido">
        <form th:action="@{/productos/aumentar-precios}" method="post">
            <label for="proveedorId">Seleccionar Proveedor:</label>
            <select name="proveedorId" id="proveedorId" class="form-select">
                <option th:each="p : ${proveedores}" th:value="${p.id}" th:text="${p}"></option>
            </select>


            <label for="aumentoPorcentaje">Porcentaje de Aumento:</label>
            <input type="number" id="aumentoPorcentaje" name="aumentoPorcentaje" step="0.01" required>

            <button type="submit">Aplicar Aumento</button>
            <a sec:authorize="${hasRole('SUPERUSUARIO') or hasRole('SUCURSALUNO') or hasRole('SUCURSALDOS')}" th:href="@{/inventario}">Cancelar</a>
        </form>

        


    </div>

    <script th:fragment="js" th:src="@{/js/layout.js}"></script>

</body>

</html>