<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${titulo}"></title>
</head>

<body>
    <div layout:fragment="contenido">
        <form th:action="@{/proveedores/guardar}" method="post" th:object="${proveedor}">
            <div class="container border rounded shadow p-3 bg-light">
                <div class="row">
                    <div class="col-1">
                        <a th:href="'javascript:history.back()'" class="btn btn-primary" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="Volver">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </div>
                    <div class="col-10 text-center">
                        <h3>Nuevo proveedor</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <label for="cuitProv" class="form-label">CUIT/CUIL:</label>
                        <input id="cuitProv" type="text" class="form-control" pattern="[0-9]{11}" maxlength="11"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="No uses puntos ni guiones."
                            placeholder="Ingresa los 11 dígitos que corresponden" autocomplete="off"
                            th:field="*{cuil}" th:errorClass="'form-control alert-warning'" />
                        <small class="form-label text-danger" th:errors="*{cuil}"></small>
                    </div>
                    <div class="col-8">
                        <label for="nomProv" class="form-label">Nombre/Razón Social:</label>
                        <input id="nomProv" type="text" class="form-control" maxlength="50" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Campo obligatorio" placeholder="Proveedor S.A."
                            required autocomplete="off" th:field="*{razon_soc}"
                            th:errorClass="'form-control alert-warning'" />
                        <small class="form-label text-danger" th:errors="*{razon_soc}"></small>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <label for="pro" class="form-label">Provincia:</label>
                        <select name="pro" id="pro" class="form-select">
                            <option th:each="p : ${provincias}" th:value="${p.id}" th:text="${p}"></option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="localidad" class="form-label">Localidad/Ciudad:</label>
                        <input id="localidad" type="text" class="form-control" maxlength="35"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Máximo 35 carácteres"
                            placeholder="CABA" autocomplete="off" th:field="*{localidad}"
                            th:errorClass="'form-control alert-warning'" />
                        <small class="form-label text-danger" th:errors="*{localidad}"></small>
                    </div>
                    <div class="col-5">
                        <label for="direccion" class="form-label">Dirección:</label>
                        <input id="direccion" type="text" class="form-control" maxlength="30"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Máximo 30 carácteres"
                            placeholder="Calle, Altura, Barrio, etc." autocomplete="off" th:field="*{direccion}"
                            th:errorClass="'form-control alert-warning'" />
                        <small class="form-label text-danger" th:errors="*{direccion}"></small>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label for="tel" class="form-label">Teléfono:</label>
                        <input id="tel" type="tel" class="form-control" placeholder="Sin 0 ni 15" autocomplete="off"
                            th:field="*{telefono}" th:errorClass="'form-control alert-warning'" />
                        <small class="form-label text-danger" th:errors="*{telefono}"></small>
                    </div>
                    <div class="col">
                        <label for="email" class="form-label">Correo Electrónico (e-mail):</label>
                        <input id="email" type="email" class="form-control" placeholder="micorreo@ejemplo.com"
                            autocomplete="off" th:field="*{email}" th:errorClass="'form-control alert-warning'" />
                        <small class="form-label text-danger" th:errors="*{email}"></small>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-square-fill"></i>
                            Guardar
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            <i class="bi bi-stars"></i> 
                            Limpiar
                        </button>
                        <a th:href=@{/proveedores/listado} type="button" class="btn btn-danger">
                            <i class="bi bi-x-square-fill"></i>
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <script th:fragment="js" th:src="@{/js/inventario.js}"></script>
</body>

</html>