:root {
    --ancho-sidebar: 220px;
    --azul-primary: #0d6efd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar-menu {
    width: var(--ancho-sidebar);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
}




/* CONTENIDO PRINCIPAL */

#content {
    margin-left: var(--ancho-sidebar);
}

#top-panel {
    height: 100px;
}

#search-bar {
    width: 500px;
}


.table-container {
    height: 75vh;
}

.table-container table thead {
    position: sticky;
    top:0;
}


tr .table-danger {
    background: rgb(231, 0, 0);
}


.detalleVenta {
    height: 65vh;
}



/* COLOR PILDORAS ACTIVAS */
.nav-pills .nav-link.active {
    background-color: gray;
}


.btn-accion {
    margin: 2px;
}


.btn-acciones-principales:hover {
    border-color: var(--azul-primary);
    background: var(--azul-primary);
}



.nav-link:hover {
    background: rgb(212, 212, 212);
}


.badge-info {
    background: rgb(199, 199, 199);
    color: rgb(70, 70, 70);
}