:root {
    --ancho-sidebar: 220px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar-menu {
    width: var(--ancho-sidebar);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
}




/* INVENTARIO */

#content {
    margin-left: var(--ancho-sidebar);
}

#top-panel {
    height: 100px;
}

#search-bar {
    width: 500px;
}


.table-container {
    height: 480px;
}

.table-container table thead {
    position: sticky;
    top:0;
}
