<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title th:text="${titulo}"></title>
</head>

<body>
  <div layout:fragment="contenido">
    <div id="top-panel" class="d-flex justify-content-between">
      <form id="search-form" action="">
        <h4>Buscador</h4>
        <div id="search-bar" class="input-group">
          <input class="form-control" type="search" placeholder="¿Qué estás buscando?">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </form>
      <div>
        <h4>Acciones</h4>
        <a th:href="@{/productos/nuevo}" class="btn btn-success">Nuevo Artículo</a>
        <a href="#" class="btn btn-warning">Nuevo movimiento</a>
      </div>
    </div>

    <h5 class="text-secondary">Listado de artículos</h5>
    <div class="table-container overflow-auto border rounded shadow">
      <table class="table table-hover caption-top">
        <thead class="bg-light">
          <tr>
            <th>Acción</th>
            <th scope="col">Código</th>
            <th scope="col">Categoría</th>
            <th scope="col">Artículo</th>
            <th scope="col">Stock <span>Fontana</span></th>
            <th scope="col">Stock <span>Sauzalito</span></th>
            <th scope="col">Stock <span>General</span></th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="p : ${productos}">
            <th>
              <a th:href="@{/productos/editar/} + ${p.id}" class="btn btn-sm btn-warning" title="Editar">
                <i class="bx bxs-edit bx-spin"></i>
              </a>
              <button th:href="@{/productos/borrar/} + ${p.id}" class="btn btn-danger btn-sm" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Eliminar"
                onclick="return confirm('¿Estás seguro de deshabilitar el Registro?')">
                <i class="bi bi-trash3"></i>
              </button>
            </th>
            <th th:text="${p.codigoIdentificacion}"></th>
            <td th:text="${p.Categoria}"></td>
            <td th:text="${p.getNombreComun()} + ' ' + ${p.getNombreTecnico()} + ' ' + ${p.getDescripcion()}"></td>
            <td th:text="${p.stockSucursalUno}"></td>
            <td th:text="${p.stockSucursalDos}"></td>
            <td th:text="${p.stockGeneral}"></td>
            <td th:text="${p.precio}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <script th:fragment="js" th:src="@{/js/inventario.js}"></script>
</body>

</html>