<!DOCTYPE html>
<html
  lang="es"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <title th:text="${titulo}"></title>
  </head>

  <body>
    <div layout:fragment="contenido">
      <div id="top-panel" class="d-flex justify-content-between">
        <form id="search-form" action="">
          <h4>Buscador</h4>
          <div id="search-bar" class="input-group">
            <input
              class="form-control"
              type="search"
              placeholder="¿Qué estás buscando?"
            />
            <button type="submit" class="btn btn-secondary btn-acciones-principales">Buscar</button>
          </div>
        </form>
        <div sec:authorize="${hasRole('SUPERUSUARIO') or hasRole('ADMINISTRADOR')}">
          <h4>Acciones</h4>
          <a 
            th:href="@{/productos/nuevo}"
            class="btn btn-secondary btn-acciones-principales"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"  
            title="Agregar producto"
          >
            <i class="bi bi-plus-circle fs-5"></i>
          </a>
          <a 
            th:href="@{/productos/moverProducto}"
            class="btn btn-secondary btn-acciones-principales ms-3"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"  
            title="Nuevo movimiento"
          >
            <i class="bi bi-arrow-left-right fs-5"></i>
          </a
          >
          <div class="d-inline" 
            data-bs-toggle="tooltip" 
            data-bs-placement="bottom" 
            title="Modificar precio"
          >
            <button                
              class="btn btn-secondary btn-acciones-principales ms-3 me-4"  
              data-bs-toggle="modal"
              data-bs-target="#precioModal"
            >
              <i class="bi bi-currency-dollar fs-5"></i>
            </button>
          </div>
        </div>
        <!-- precioModal -->
        <div class="modal fade" id="precioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modificar precios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form th:action="@{/aumentar-precios}" method="post">
                      <label for="proveedorId">Seleccionar Proveedor:</label>
                      <select name="proveedorId" id="proveedorId" class="form-select">
                        <option th:each="p : ${proveedores}" th:value="${p.id}" th:text="${p}"></option>
                      </select>
                      <br>
                      <button 
                        class="btn m-0 p-0"
                        type="button"
                        data-bs-toggle="popover" 
                        data-bs-placement="left"
                        data-bs-content="Para INCREMENTAR ingresa solo el número, por ejemplo: 5. Para DECREMENTAR ingresa símbolo menos seguido del valor, por ejemplo: -10"
                      >
                        <a
                        class="link-primary"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Ayuda"
                        >
                          <i class="bi bi-question-square"></i>
                        </a>
                      </button>
                      <label for="aumentoPorcentaje">Porcentaje:</label>
                      <div class="input-group">
                        <input class="form-control" type="number" id="aumentoPorcentaje" name="aumentoPorcentaje" step="0.01" required>
                        <span class="input-group-text">
                          <i class="bi bi-percent"></i>
                        </span>
                      </div>
                      <br>
                      <div class="d-flex justify-content-around">
                        <a 
                          th:href="@{/inventario}"
                          data-bs-dismiss="modal"
                          class="btn btn-secondary"
                        >
                          Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">Aplicar</button>
                      </div>
                    </form>
                  </div>
                  
              </div>
            </div>
        </div>
      </div>

      <h5 class="text-secondary">Listado de productos</h5>
      <div class="table-container overflow-auto border rounded shadow">
        <table class="table table-hover caption-top">
          <thead class="bg-light">
            <tr class="text-uppercase">
              <th sec:authorize="${hasRole('SUPERUSUARIO') or hasRole('ADMINISTRADOR')}">Accion</th>
              <th scope="col">Codigo</th>
              <th scope="col">Categoria</th>
              <th scope="col">Producto</th>
              <th scope="col">Stock Sauzalito</th>
              <th scope="col">Stock Fontana</th>
              <th scope="col">Stock <span>General</span></th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              th:each="p : ${productos}"
              th:class="${p.stockSucursalUno == 0 or p.stockSucursalDos == 0} ? 'table-danger' : (${10 > p.stockSucursalUno or 10 > p.stockSucursalDos} ? 'table-warning' : '')"
              >
              <th sec:authorize="${hasRole('SUPERUSUARIO') or hasRole('ADMINISTRADOR')}">
                <a 
                  th:href="@{/productos/editar/} + ${p.id}"
                  class="btn btn-primary btn-sm btn-accion"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Modificar"
                >
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a
                  th:href="@{/productos/borrar/} + ${p.id}"
                  class="btn btn-danger btn-sm btn-accion"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Eliminar"
                  onclick="return confirm('¿Seguro que quieres eliminar el producto?')"
                >
                  <i class="bi bi-trash3"></i>
                </a>
              </th>
              <th th:text="${p.codigoIdentificacion}"></th>
              <td th:text="${p.Categoria}" class="text-capitalize"></td>
              <td
                th:text="${p.getNombreComun()} + ' ' + ${p.getNombreTecnico()} + ' ' + ${p.getDescripcion()}"
              ></td>
              <td th:text="${p.stockSucursalUno}" class="fw-bold"></td>
              <td th:text="${p.stockSucursalDos}" class="fw-bold"></td>
              <td th:text="${p.stockGeneral}"></td>
              <td th:text="${p.precio}" class="fs-5 fw-bold money"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script layout:fragment="js" th:src="@{/js/inventario.js}"></script>
  </body>
</html>
