<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${titulo}"></title>
</head>
<body>

  <div layout:fragment="contenido">
    <div id="content" class="p-3">
        <form action="">
        <div class="container border rounded shadow p-3">
            <div class="row">
                <div class="col-1">
                    <a 
                        th:href="@{/inventario}" class="btn btn-primary"
                        data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Volver"
                        >
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </div>
                <div class="col-10 text-center">
                    <h3>Nuevo artículo</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2">
                    <label for="code" class="form-label">Código:</label>
                    <input
                        id="code" type="text" 
                        class="form-control" maxlength="10"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Máximo 10 carácteres"
                        placeholder="xxxxxxxxxx"
                    >
                </div>
                <div class="col-2">
                    <label for="category" class="form-label">Categoría:</label>
                    <select id="category" class="form-select">
                        <option>Aceite</option>
                        <option>Tuerca</option>
                        <option>Plástico</option>
                        <option selected>Otro</option>
                    </select>
                </div>
                <div class="col">
                    <label for="product-name" class="form-label">Nombre del artículo:</label>
                    <input
                        id="product-name" type="text" 
                        class="form-control" maxlength="30"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Máximo 30 carácteres"
                        placeholder="Artículo XXXXXXXXXXXXX"
                    >
                </div>
            </div>
        </div>
      </form>
    </div>
  </div>



  <script th:fragment="js" th:src="@{/js/inventario.js}"></script>
</body>
</html>