<!DOCTYPE html>
<html
  lang="es"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:text="${titulo}"></title>
  </head>

  <body>
    <div layout:fragment="contenido">
      <form
        id="formVenta"
        th:action="@{/ventas/guardar}"
        th:object="${venta}"
        method="post"
      >
        <div class="container border rounded shadow p-3 bg-light">
          <div class="row">
            <div class="col text-center">
              <h3>REGISTRO DE VENTA</h3>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col">
              <label
                th:field="*{fechaHora}"
                th:text='*{#temporals.format(fechaHora, "dd/MM/yyyy HH:mm")}'
                class="badge bg-secondary fs-6"
              >
              </label>
            </div>
            <div class="col text-end">
              <!-- <span class="badge bg-secondary"
                            th:text="${ventas.id}"
                            >
                        </span> -->
              <div class="badge bg-secondary fs-6">
                <i class="bi bi-hash"></i>
                <span class="badge bg-secondary" th:text="${numeroVenta}">
                </span>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <div>
                <label for="notasVenta">Notas:</label>
                <textarea
                  class="form-control"
                  name=""
                  id="notasVenta"
                  placeholder="Información adicional u anotaciones de la venta."
                  maxlength="120"
                  th:field="*{descripcion}"
                ></textarea>
              </div>
            </div>
            <div class="col"></div>
            <div class="col-3">
              <div>
                <h4>Total</h4>
                <span
                  id="total"
                  class="badge bg-success fs-3"
                  style="width: 200px"
                  >0.00</span
                >
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-">
              <h4>Buscador de productos</h4>
              <div class="input-group">
                <input
                  id="buscar_productos"
                  class="form-control"
                  type="search"
                  placeholder="Busca por código, nombre o algún dato del producto."
                />
                <button type="button" id="btnBuscar" class="btn btn-primary">
                  Buscar
                </button>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col">
              <div class="overflow-auto">
                <table
                  id="tabla_productos"
                  class="table table-hover table-bordered"
                >
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Producto</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th>Subtotal</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
                <table class="d-none">
                  <tbody id="lineas">
                    <tr id="fila_{ID}">
                      <td class="d-none">
                        <input type="hidden" value="{ID}" name="item_id[]" />
                      </td>
                      <td>{CODIGO}</td>
                      <td>{DESCRIPCION}</td>
                      <td>{PRECIO}</td>
                      <td>
                        <input
                          type="number"
                          value="1"
                          min="1"
                          name="cantidad[]"
                          id="cantidad_{ID}"
                          class="form-control"
                          style="width: 100px"
                          onchange="lineasUtil.calcularSubtotal({ID}, {PRECIO}, this.value)"
                        />
                      </td>
                      <td>
                        <span id="subtotal_{ID}">0.00</span>
                      </td>
                      <td>
                        <button
                          class="btn btn-danger btn-sm"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Eliminar"
                          onclick="lineasUtil.borrar({ID})"
                        >
                          <i class="bi bi-trash3"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col text-center">
              <button
                type="submit"
                class="btn btn-success"
                onclick="$('#formVenta').submit();"
              >
                <i class="bi bi-check-square-fill"></i>
                Guardar
              </button>
              <a th:href="@{/inventario}" type="button" class="btn btn-danger">
                <i class="bi bi-x-square-fill"></i>
                Cancelar
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script layout:fragment="js" th:src="@{/js/ventaForm.js}"></script>
  </body>
</html>
